table,
td {
    border: 2px solid rgb(0, 0, 0);
}
table{
    border: 2px solid rgb(0, 0, 0) !important;
}
@media only screen and (max-width: 400px){
    tr{
        font-size: 12px;
    }
    .listPhoto{
        width: 350px;
        height: 650px;
        background-size: 350px 650px;
    }
}

.listPhoto{
    background-image: url("WhatsApp Image 2021-02-25 at 22.21.52.jpeg");
    background-repeat: no-repeat;
}